.profile-card {
  padding: 20px;
  border: 2px solid var(--inverted-bg-color);
}

.profile-card-header {
  display: flex;
}

.profile-card-data {
  margin-bottom: 20px;
}

.edit-btn {
  margin-top: auto;
}

.profile-card-input {
  margin: 10px;
}
