.profile-card {
  padding: 20px;
  border: 2px solid var(--inverted-bg-color);
}

.edit-btn {
  margin-top: auto;
}

.profile-loading,
.profile-error {
  height: 470px;
}

.profile-card-avatar-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}

.editing {
  border: 2px solid var(--inverted-primary-color);
}

.profile-card-select {
  margin: 15px 0;
}
