.profile-card {
  padding: 20px;
  border: 2px solid var(--inverted-bg-color);
}

.profile-card-data {
  margin-bottom: 20px;
}

.edit-btn {
  margin-top: auto;
}

.profile-loading,
.profile-error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.profile-card-avatar-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}

.editing {
  border: 2px solid var(--inverted-primary-color);
}

.profile-card-select {
  margin: 15px 0;
}
