.app-link {
  color: var(--inverted-primary-color);
}

.app-link:hover {
  opacity: 0.7;
}

.primary {
  color: var(--primary-color);
}

.secondary {
  color: var(--primary-color);
}

.red {
  color: red;
}
